#timeout 300
prompt 0
menu clear
menu background splash.png
menu title vmware installation 
menu vshift 4
menu rows 12

menu color border * #00000000 #00000000 none
menu color sel 0 #ffffffff #00000000 none
menu color title 0 #ff7ba3d0 #00000000 none
menu color tabmsg 0 #ff3a6496 #00000000 none
menu color unsel 0 #84b8ffff #00000000 none
menu color hotsel 0 #84b8ffff #00000000 none
menu color hotkey 0 #ffffffff #00000000 none
menu color help 0 #ffffffff #00000000 none
menu color scrollbar 0 #ffffffff #ff355594 none
menu color timeout 0 #ffffffff #00000000 none
menu color timeout_msg 0 #ffffffff #00000000 none
menu color cmdmark 0 #84b8ffff #00000000 none
menu color cmdline 0 #ffffffff #00000000 none
#menu tabmsg press tab for full configuration options on menu items.
menu tabmsg

menu separator # insert an empty line
menu separator # insert an empty line

label up
	menu label > ..
    kernel vesamenu.c32
	append pxelinux.cfg/default
			    
label > esxi6.0.0
	kernel images/vmware/6.0.0/mboot.c32
	append images/vmware/6.0.0/boot.cfg

label > esxi5.5.0(N/A)
	kernel images/vmware/5.5.0/mboot.c32
	append images/vmware/5.5.0/boot.cfg

